parameters:
	ignoreErrors:
		-
			message: '#^Parameter \#1 \$value of static method Illuminate\\Support\\Facades\\Hash\:\:make\(\) expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: app/Http/Controllers/Auth/RegisterController.php

		-
			message: '#^Binary operation "\." between mixed and ''«'' results in an error\.$#'
			identifier: binaryOp.invalid
			count: 1
			path: app/Http/Controllers/GuestBookSearchController.php

		-
			message: '#^Binary operation "\." between mixed and '' '' results in an error\.$#'
			identifier: binaryOp.invalid
			count: 1
			path: app/Http/Controllers/GuestbookPostsController.php

		-
			message: '#^Binary operation "\." between non\-falsy\-string and mixed results in an error\.$#'
			identifier: binaryOp.invalid
			count: 1
			path: app/Http/Controllers/GuestbookPostsController.php

		-
			message: '#^Binary operation "\.\=" between non\-falsy\-string and mixed results in an error\.$#'
			identifier: assignOp.invalid
			count: 1
			path: app/Http/Controllers/GuestbookPostsController.php

		-
			message: '#^Cannot call method add\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Http/Controllers/GuestbookPostsController.php

		-
			message: '#^Cannot call method errors\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Http/Controllers/GuestbookPostsController.php

		-
			message: '#^Parameter \#1 \$attributes of method Illuminate\\Database\\Eloquent\\Model\:\:update\(\) expects array\<string, mixed\>, array given\.$#'
			identifier: argument.type
			count: 1
			path: app/Http/Controllers/GuestbookPostsController.php

		-
			message: '#^Parameter \#1 \$attributes of static method Illuminate\\Database\\Eloquent\\Builder\<App\\Models\\GuestbookPost\>\:\:create\(\) expects array\<string, mixed\>, array given\.$#'
			identifier: argument.type
			count: 2
			path: app/Http/Controllers/GuestbookPostsController.php

		-
			message: '#^Parameter \#1 \.\.\.\$arg1 of function max expects non\-empty\-array, array\<mixed\> given\.$#'
			identifier: argument.type
			count: 1
			path: app/Http/Controllers/NewCartoonController.php

		-
			message: '#^Parameter \#1 \.\.\.\$arg1 of function min expects non\-empty\-array, array\<mixed\> given\.$#'
			identifier: argument.type
			count: 1
			path: app/Http/Controllers/NewCartoonController.php

		-
			message: '#^Method App\\Models\\Cartoon\:\:publicationDate\(\) should return Illuminate\\Database\\Eloquent\\Relations\\HasMany\<App\\Models\\PublicationDate, \$this\(App\\Models\\Cartoon\)\> but returns Illuminate\\Database\\Eloquent\\Relations\\HasMany\<App\\Models\\PublicationDate, Illuminate\\Database\\Eloquent\\Relations\\HasMany\<App\\Models\\PublicationDate, \$this\(App\\Models\\Cartoon\)\>\>\.$#'
			identifier: return.type
			count: 1
			path: app/Models/Cartoon.php

		-
			message: '#^PHPDoc type array\<int, string\> of property App\\Models\\User\:\:\$fillable is not covariant with PHPDoc type list\<string\> of overridden property Illuminate\\Database\\Eloquent\\Model\:\:\$fillable\.$#'
			identifier: property.phpDocType
			count: 1
			path: app/Models/User.php

		-
			message: '#^PHPDoc type array\<int, string\> of property App\\Models\\User\:\:\$hidden is not covariant with PHPDoc type list\<string\> of overridden property Illuminate\\Database\\Eloquent\\Model\:\:\$hidden\.$#'
			identifier: property.phpDocType
			count: 1
			path: app/Models/User.php

		-
			message: '#^Argument of an invalid type list\<string\>\|false supplied for foreach, only iterables are supported\.$#'
			identifier: foreach.nonIterable
			count: 3
			path: app/Services/Spamfilter.php

		-
			message: '#^Binary operation "\+" between mixed and 1 results in an error\.$#'
			identifier: binaryOp.invalid
			count: 2
			path: app/Services/Spamfilter.php

		-
			message: '#^Binary operation "\+" between mixed and mixed results in an error\.$#'
			identifier: binaryOp.invalid
			count: 1
			path: app/Services/Spamfilter.php

		-
			message: '#^Binary operation "\-" between mixed and 1 results in an error\.$#'
			identifier: binaryOp.invalid
			count: 2
			path: app/Services/Spamfilter.php

		-
			message: '#^Binary operation "/" between mixed and mixed results in an error\.$#'
			identifier: binaryOp.invalid
			count: 2
			path: app/Services/Spamfilter.php

		-
			message: '#^Call to an undefined method PHPUnit\\Framework\\TestCase\:\:component\(\)\.$#'
			identifier: method.notFound
			count: 4
			path: tests/Feature/View/Components/DateTimeTest.php

		-
			message: '#^Cannot call method assertDontSee\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 3
			path: tests/Feature/View/Components/DateTimeTest.php

		-
			message: '#^Cannot call method assertSee\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 4
			path: tests/Feature/View/Components/DateTimeTest.php
