parameters:
	ignoreErrors:
		-
			message: "#^Access to an undefined property App\\\\Models\\\\GuestbookPost\\:\\:\\$score\\.$#"
			count: 4
			path: app/Http/Controllers/GuestbookPostsController.php
