// Fonts

/* Regular */
@font-face {
  font-family: 'Assistant';
  src: url(../fonts/Assistant-VariableFont_wght.woff2)
    format('woff2-variations');
  font-display: swap;
  font-weight: 1 999;
}

// Variables
@import 'variables';

// Bootstrap
@import 'node_modules/bootstrap/scss/bootstrap';

// Support CSP and remove inline style
.navbar-custom-background {
  background: $danger;
  background-image: $gradient;
}
