/* Fonts CSS */
/* A font by Jos Buivenga (exljbris) -> www.exljbris.com */
@font-face {
    font-family: 'delicious-roman';
    src: url('../../fonts/delicious-roman.eot');
    src: url('../../fonts/delicious-roman.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/delicious-roman.woff') format('woff'),
         url('../../fonts/delicious-roman.ttf') format('truetype'),
         url('../../fonts/delicious-roman.svg#deliciousroman') format('svg');
    font-weight: normal;
    font-style: normal;
}
